.idea/

__pycache__/
*.py[cod]
*.pyc
*$py.class

# all hiden directories and files in the project root
/.*/

# helm charts packages
build_tools/*.tgz

**/node_modules

# test configmap
test/integration/container/configmap.yaml

# include this file
!/.gitignore